name: Api-Gateway Deploy to Amazon ECS

on:
  push:
    branches: [ "main" ]
    paths:
      - 'uppick-api-gateway/**'

env:
  AWS_REGION: us-east-1
  ECR_REPOSITORY: uppick/prod
  ECS_SERVICE: uppick-prod-api-gateway-service-lliuwbe9
  ECS_CLUSTER: uppick-prod-cluster
  ECS_TASK_DEFINITION: .aws/uppick-prod-api-gateway.json
  CONTAINER_NAME: springboot

permissions:
  contents: read

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Prepare folder for task definition
        run: mkdir -p .aws

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.PROD_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.PROD_AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Get current ECS task definition
        id: get-task-def
        run: |
          aws ecs describe-task-definition \
            --task-definition uppick-prod-api-gateway \
            --query "taskDefinition" \
            --output json \
          | jq 'del(
              .taskDefinitionArn,
              .revision,
              .status,
              .requiresAttributes,
              .compatibilities,
              .registeredAt,
              .registeredBy,
              .enableFaultInjection
            )' > ${{ env.ECS_TASK_DEFINITION }}

      - name: Build, tag, and push uppick-api-gateway image to Amazon ECR
        id: build-image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          IMAGE_TAG: api-gateway
        run: |
          echo "Building uppick-api-gateway Docker image..."
          
          docker build \
            -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG \
            -f uppick-api-gateway/Dockerfile .
          
          echo "Pushing image to ECR..."
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
          echo "image=$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG" >> $GITHUB_OUTPUT

      - name: Fill in the new image ID in the Amazon ECS task definition
        id: task-def
        uses: aws-actions/amazon-ecs-render-task-definition@v1
        with:
          task-definition: ${{ env.ECS_TASK_DEFINITION }}
          container-name: ${{ env.CONTAINER_NAME }}
          image: ${{ steps.build-image.outputs.image }}

      - name: Deploy Amazon ECS task definition
        uses: aws-actions/amazon-ecs-deploy-task-definition@v1
        with:
          task-definition: ${{ steps.task-def.outputs.task-definition }}
          service: ${{ env.ECS_SERVICE }}
          cluster: ${{ env.ECS_CLUSTER }}
          wait-for-service-stability: true